#All executables
**/.exe
**/.pdb

#log files
**/.log
**/.cache
**/.editorconfig

#All json files
**/.json

#Survivalcraft dlls 
*Survivalcraft.dll

#All xmls, can be done on local machine
*.xml

#folders in bin/Debug/<main>
**/CharacterSkins
**/FurniturePacks
Logs/
**/Mods
**/TexturePacks
Worlds/

#other folders
obj/
net7.0/

